@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?3e227066e6b1253a75147f734027a5b8") format("truetype"),
url("./flaticon.woff?3e227066e6b1253a75147f734027a5b8") format("woff"),
url("./flaticon.woff2?3e227066e6b1253a75147f734027a5b8") format("woff2"),
url("./flaticon.eot?3e227066e6b1253a75147f734027a5b8#iefix") format("embedded-opentype"),
url("./flaticon.svg?3e227066e6b1253a75147f734027a5b8#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-buddhist-yoga-pose:before {
    content: "\f101";
}
.flaticon-weightlifting:before {
    content: "\f102";
}
.flaticon-exercise:before {
    content: "\f103";
}
.flaticon-man-boxing:before {
    content: "\f104";
}
.flaticon-man-exercising-on-the-floor:before {
    content: "\f105";
    transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	display: inline-block;
}
.flaticon-man-jumping-rope:before {
    content: "\f106";
}
.flaticon-exercise-1:before {
    content: "\f107";
}
.flaticon-weightlifting-1:before {
    content: "\f108";
}
.flaticon-pull-up:before {
    content: "\f109";
}
.flaticon-man-doing-yoga:before {
    content: "\f10a";
}
